<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Rails Classroom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <form class="form-inline my-2 my-lg-0">
      <% if user_signed_in? %>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/courses" role="button">Courses</a>
      <% else %>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/users/sign_up" role="button">Register</a>
      &nbsp;
      &nbsp;
      <a class="btn btn-outline-success my-2 my-sm-0" href="/users/sign_in" role="button">Sign In</a>
      <% end %>
    </form>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Rails Classroom!</h1>
      <p>We are a course-page builder for educators.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Team</h2>
        <p>
          We are a group of students from UC Berkeley and are currently taking the Ruby on Rails Decal course.
          Team includes:
            <ul>
              <li> Yudi Tan </li>
              <li> Michael Tu </li>
              <li> Naomi Jung </li>
              <li> Kevin Pham </li>
            </ul>
      </div>
      <div class="col-md-4">
        <h2>Goal</h2>
        <p>
          Our mission is to create a platform that can help educators easily create web pages for their classes so that
          educators only have to worry about creating the best contents while leaving the rest to us.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Get Started</h2>
        <p>
          If you're an instructor, please register for an account by clicking on the button at the top.
        </p>
      </div>
    </div>

    <hr>

  </div>
  <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Rails Classroom 2017</p>
</footer>
